extends layout

block content
  h1= title
  p Welcome to #{title}
  
  input(type="text" id='input-name')
  input(type='text' id='input-task')
  button(id='submit-data' onclick='sendData()') Send
  br
  h1(id="result")
  br
  input(type='text' id='search-name')
  button(id='search' onclick='search()') Search
  br
  h2(id='search-result')
  div(id='todos')
  br
  

